@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat;

<h4>Add New Treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  @Html.Label("Choose a Flavor")
  @Html.DropDownList("FlavorId")
  <input class="btn" type="submit" value="Add">
}