@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat;

<h2>Burn up this Treat?</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}