@{
  Layout = "_Layout";
}

@using Pierre.Models
@model Pierre.Models.Treat;

<h1>Welcome to the Treat Corner!</h1>
<div class="container">
  @if (ViewBag.Treats != null)
  {
    @foreach(Treat treat in ViewBag.Treats)
    {
      @Html.ActionLink("Change Treat", "Edit", new {id=treat.TreatId})
      @Html.ActionLink("Burn Treat", "Delete", new {id=treat.TreatId})
    }
  }
  else 
  {
    <h2>No Treats Here Yet</h2>
  }
  @Html.ActionLink("Spawn Treat", "Create")
</div>

