body{
  background-color: rgb(136, 106, 92);
  color: white;
}
@media screen and (max-width:1000px){
  body{
    background-image: url(https://media.giphy.com/media/3oFzm0F8nf3BRILjX2/giphy.gif);
  }
}

.btn {
  width: 100%;
  background-color: rgb(162, 212, 162);
}

.welcome {
  margin: auto;
  width: 50%;
  border: 1px dotted cyan;
  padding: 15px;
  background-color: rgb(105, 52, 52);
  text-align: center;
}

.links {
  width: 50%;
  margin: 5px;
  padding:5px;
  background-color: white;
  color: rgb(26, 22, 22);
  border-radius: 5%;
}
#logout {
  width: 10%;
  margin: 5px;
  padding:5px;
  background-color: rgba(255, 76, 52, 0.609);
  color: rgb(255, 255, 255);
  border-radius: 5%;
}
/* @media screen and (min-width: 400px){
  img {
  width: 50vw;
  }
} */
img {
  width: 50%;
  object-fit: cover;
  }
