@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor;

<h2>Un-Make this Huge Mistake?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}