@{
  Layout="_Layout";
}

@model Pierre.Models.Flavor

<h1 class="welcome">@Html.DisplayFor(Model => Model.Name)</h1>
<div class="container">
  <h4>Treats with this flavor:</h4>
  @if (Model.JoinEntries != null)
  {
    <ul>
      @foreach(var join in Model.JoinEntries)
      {
        <li>@Html.ActionLink($"{join.Treat.Type}", "Details", "Treats", new {id = join.Treat.TreatId})</li>
      }
    </ul>
  }
</div>